<br>
<div class="jumbotron">
<h1>Custom Dress Profile</h1>
</div>

<div class="col-md-8">
<table class="table table-striped table-hover">
  <thead class="thead-inverse">
    <tr>
      <th><h2>Contact Info</h2></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong><%= "Full Name" %></strong></td>
      <td><%= @user_profile.full_name %></td>
    </tr>
    <tr>
      <td><strong><%= "Email" %></strong></td>
      <td><%= @user_profile.email %></td>
    </tr>
    <tr>
      <td><strong><%= "Phone Number" %></strong></td>
      <td><%= @user_profile.phone_number%></td>
    </tr>
    <tr>
      <td><strong><%= "Shipping Address" %></strong></td>
      <td><%= @user_profile.shipping_address %></td>
    </tr>
  </tbody>
</table>
<table class="table table-striped table-hover">
  <thead class="thead-inverse">
    <tr>
      <th><h2>Important Dates</h2></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong><%= "Wedding Date" %></strong></td>
      <td><%= @user_profile.wedding_date %></td>
    </tr>
    <tr>
      <td><strong><%= "Bridals Date" %></strong></td>
      <td><%= @user_profile.bridals_date %></td>
    </tr>
  </tbody>
</table>
<table class="table table-striped table-hover">
  <thead class="thead-inverse">
    <tr>
      <th><h2>Measurements</h2></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong><%= "Height" %></strong></td>
      <td><%= @user_profile.height %></td>
    </tr>
    <tr>
      <td><strong><%= "Over Bust" %></strong></td>
      <td><%= @user_profile.over_bust %></td>
    </tr>
    <tr>
      <td><strong><%= "Bust" %></strong></td>
      <td><%= @user_profile.bust %></td>
    </tr>
    <tr>
      <td><strong><%= "Under Bust" %></strong></td>
      <td><%= @user_profile.under_bust %></td>
    </tr>
    <tr>
      <td><strong><%= "Bra Size" %></strong></td>
      <td><%= @user_profile.bra_size %></td>
    </tr>
    <tr>
      <td><strong><%= "Waist" %></strong></td>
      <td><%= @user_profile.waist %></td>
    </tr>
    <tr>
      <td><strong><%= "Hip" %></strong></td>
      <td><%= @user_profile.hip %></td>
    </tr>
    <tr>
      <td><strong><%= "Natural Waist" %></strong></td>
      <td><%= @user_profile.natural_waist %></td>
    </tr>
    <tr>
      <td><strong><%= "Shoulder to Shoulder" %></strong></td>
      <td><%= @user_profile.shoulder_to_shoulder %></td>
    </tr>
    <tr>
      <td><strong><%= "Shoulder to Waist" %></strong></td>
      <td><%= @user_profile.shoulder_to_waist %></td>
    </tr>
    <tr>
      <td><strong><%= "Wasit to Floor" %></strong></td>
      <td><%= @user_profile.waist_to_floor %></td>
    </tr>
    <tr>
      <td><strong><%= "Rise" %></strong></td>
      <td><%= @user_profile.rise %></td>
    </tr>
    <tr>
    </tbody>
  </table>
<table class="table table-striped table-hover">
  <thead class="thead-inverse">
    <tr>
      <th><h2>Sleeves (if applicable)</h2></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong><%= "Sleeve Length" %></strong></td>
      <td><%= @user_profile.sleeve_length %></td>
    </tr>
    <tr>
      <td><strong><%= "Arm Hole" %></strong></td>
      <td><%= @user_profile.arm_hole %></td>
    </tr>
    <tr>
      <td><strong><%= "Bicep" %></strong></td>
      <td><%= @user_profile.bicep %></td>
    </tr>
    <tr>
      <td><strong><%= "Forearm" %></strong></td>
      <td><%= @user_profile.forearm %></td>
    </tr>
  </tbody>
</table>
<table class="table table-striped table-hover">
  <thead class="thead-inverse">
    <tr>
      <th><h2>Dress Sketch</h2></th>
    </tr>
  </thead>
  <tbody>
   <tr>
    <td><%= image_tag @user_profile.image.url(:large) %></td>
   </tr>
  </tbody>
</table>
<table class="table table-striped table-hover">
  <thead class="thead-inverse">
    <tr>
      <th><h2>Payment Stauts</h2></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong><%= "Deposit" %></strong></td>
      <td><%= @user_profile.deposit ? "Your deposit has been paid." : "Your deposit hasn't been paid." %></td>
    </tr>
    <tr>
      <td><strong><%= "Pain in Full" %></strong></td>
      <td><%= @user_profile.paid_in_full ? "You have paid in full, Thank You!." : "You haven't paid in full." %></td>
    </tr>
    <tr>
      <td><strong><%= "Shipping" %></strong></td>
      <td><%= @user_profile.shipping ? "Your dress will be shipped to the provided shipping address." : "You are picking up your dress." %></td>
    </tr>
  </tbody>
</table>
  <div class="col-md-4">
    <%= link_to "Edit", edit_user_profile_path(@user_profile), class: 'btn btn-success' %>
    <%= link_to "Delete Profile", @user_profile, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete your profile?'} %>
  </div>
</div>
