<br>
  <div class="jumbotron">
    <div class="col-sm-8">
      <h1>Sign up</h1>
      <p>This is exciting, welcome!</p>
    </div>
    <div class="text-center">
      <h2><%= image_tag("logos/JMBL.png", width: '200px') %></h2>
    </div>
  </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
 <div class="text-center">
  <div class="field">
    <p><%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %></p>
    <p><%= f.label :email %><br />
    <%= f.email_field :email %></p>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-success' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
